body {
    font-family: Arial, sans-serif;
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: whitesmoke;
    line-height: normal;
    text-align: center;
}

strong {
    color: purple;
}
