body {
    font-family: Arial, sans-serif;
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: whitesmoke;
    line-height: normal;
    text-align: center;
}

strong {
    color: purple;
}

.header-section {
    background-color: purple;
    color: purple;
}

.flex-container {
    display: flexbox;
    list-style: none;
}

.description-section {
    background-color: rgb(12, 1, 12);
    justify-content: space-between;
    gap: 50px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
}

.narrow-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
}

